build*
.tags
.idea/
.DS_Store
._*
conan_ycm_flags.json
__pycache__
package/
testtmp/
compat/conan
functional_test_list.json

.ycm_extra_conf.py
.venv/
*.egg-info/
.vscode/
.cache/
compile_commands.json
